{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="names">
	<div class="img-with-text"><img src="images/CarlCall.png" border="0" alt="Carl Call"   width="177" height="229" style="border: 2px solid black;" />
	<p>Carl Call<br />(931)268-2040<br /><a href="mailto:carlcall@centergrovecoc.com">Email Carl Call</a>  </p>
	</div>
	<div class="img-with-text"><img src="images/sg.png" border="0" alt="Sjon Gentry" width="177" height="229" style="border: 2px solid black;" />
	<p>Sjon Gentry<br />(931)268-3273<br /><a href="mailto:sjongentry@centergrovecoc.com">Email Sjon Gentry</a></p>
	</div>
	<div class="img-with-text"><img src="images/jm.png" border="0" alt="John Mabery" width="177" height="229" style="border: 2px solid black;" />
	<p>John Mabery<br />(931)268-0651<br /><a href="mailto:johnmabery@centergrovecoc.com">Email John Mabery</a> </p>
	</div>
	<div class="img-with-text"><img src="images/tr.png" border="0" alt="Ted Ragland" width="177" height="229" style="border: 2px solid black;" />
	<p>Ted Ragland<br />(931)268-9387</p>
	</div>
	</div>

<p></p>

<script language="javascript">var sa_email_id = '83148-3e8ed';var sa_sent_text = 'Thanks for contacting us! We\'ll get back to you soon.';</script>
<script language="javascript" src="http://s1.smartaddon.com/sa_htmlform.js"></script>
<div id="sa_contactdiv">
<form name=sa_htmlform style="margin:0px" onsubmit="return sa_contactform()">
<table>
<tr><td>Name: <span style="color:#D70000">*</span><br><input type="text" name="name" required="true" /></td></tr>
<tr><td>E-mail Address: <span style="color:#D70000">*</span><br><input type="text" name="email" required="true" /></td></tr>
<tr><td>Subject: <span style="color:#D70000">*</span><br><input type="text" name="subject" required="true" /></td></tr>
<tr><td>Message: <span style="color:#D70000">*</span><br><textarea name="message" cols="42" rows="9" required="true"></textarea></td></tr>
<tr><td><input type="submit" value="Send Message" style="font-weight:bold"></td></tr>
</table>

<p>Find us on 
	<a href="https://github.com/oboekevin/SilverTongue">Github</a>!
</p>

{% endblock %} 
