{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<div class="names">
	<p>Kevin Chaplin</p>
	<img src="{{ url_for('static', filename='roman_profile.jpg') }}" alt="Roman Kasparian" style="width:25%; height:same-as-width;">
	<p>Roman Kasparian</p>
	<p>Justin Nguyen</p>
	<img src="{{ url_for('static', filename='surbhi_profile.jpg') }}" alt="Surbhi Patel" style="width:25%; height:same-as-width;">
	<p>Surbhi Patel</p>
</div>

<p></p>

<p>Find us on 
	<a href="https://github.com/oboekevin/SilverTongue">Github</a>!
</p>

{% endblock %} 
