{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>
<p>We all are current freshmen at the University of Pittsburgh, and share a strong passion and love for code!
</p>
<h3>{{ message }}</h3>
<div class="names">
	<div class="profile">
	<img src="{{ url_for('static', filename='square_placeholder.gif') }}" alt="Kevin Chaplin">
	</div>
	<div class="profile">
	<img src="{{ url_for('static', filename='square_placeholder.gif') }}" alt="Roman Kasparian">
	</div>
	<div class="profile">
	<img src="{{ url_for('static', filename='square_placeholder.gif') }}" alt="Justin Nguyen">
	</div>
	<div class="profile">
	<img src="{{ url_for('static', filename='square_placeholder.gif') }}" alt="Surbhi Patel">
	</div>
	<span>Kevin Chaplin width: 100</span>
	<span>Roman Kasparian</span>
	<span>Justin Nguyen</span>
	<span>Surbhi Patel</span>

<p></p>

<script language="javascript">var sa_email_id = '83148-3e8ed';var sa_sent_text = 'Thanks for contacting us! We\'ll get back to you soon.';</script>
<script language="javascript" src="http://s1.smartaddon.com/sa_htmlform.js"></script>
<div id="sa_contactdiv">
<form name=sa_htmlform style="margin:0px" onsubmit="return sa_contactform()">
<table>
<tr><td>Name: <span style="color:#D70000">*</span><br><input type="text" name="name" required="true" /></td></tr>
<tr><td>E-mail Address: <span style="color:#D70000">*</span><br><input type="text" name="email" required="true" /></td></tr>
<tr><td>Subject: <span style="color:#D70000">*</span><br><input type="text" name="subject" required="true" /></td></tr>
<tr><td>Message: <span style="color:#D70000">*</span><br><textarea name="message" cols="42" rows="9" required="true"></textarea></td></tr>
<tr><td><input type="submit" value="Send Message" style="font-weight:bold"></td></tr>
</table>

<p>Find us on 
	<a href="https://github.com/oboekevin/SilverTongue">Github</a>!
</p>

{% endblock %} 
