{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <img src="{{ url_for('static', filename='silvertongue.png') }}" alt="Silver Tongue Logo" style="float: left; width: 20% margin-right: 0%; margin-bottom: 0.5em;">
    <h1>SilverTongue</h1>
   
    <p class="lead">A new strategy to master the linguistic structures of a target language, catered to your own personal resources.</p>
    <p><a href="{{ url_for('tryit') }}" class="btn btn-primary btn-large">Try It Yourself &raquo;</a></p>
</div>

<p>Our strategy combines both the study skills associated with the memorization of words, along with the gradual learning of grammatical and structural rules of a language. Both are essential to the mastery of a new language, and so our goal is to help make that process as easy as possible for students just like us! </p>{{ words }}

{% endblock %}
