{% extends "layout.html" %}

{% block content %}

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

<div class="jumbotron">
    <h1>SilverTongue</h1>
   
    <p class="lead">A new strategy to master the linguistic structures of a target language, catered to your own personal resources.</p>
    <p><a href="{{ url_for('tryit') }}" class="btn btn-primary btn-large">Try It Yourself &raquo;</a></p>

</div>
<p>Our strategy combines both the study skills associated with the memorization of words, along with the gradual learning of grammatical and structural rules of a language. Both are essential to the mastery of a new language, and so our goal is to help make that process as easy as possible for students just like us! </p>{{ words }}

{% endblock %}
