{% extends "layout.html" %}

{% block content %}

<h1>{{ title }}</h1>
<h3>{{ message }}</h3>

<p>Upload a picture of a vocab page from your textbook. We will find images and sentences to help you both learn the vocab and understand sentence structure and grammar of the language you are trying to learn! We'll also create a .csv file that you can download and copy-paste into Quizlet to help learn vocabulary terms.
</p>
<h3>{{ message }}</h3>
<p>To ensure that your study material is generated correctly:
<ul>
	<li>Make sure the words aren't blurry or too small</li>
	<p1></p1>
	<li>Find good lighting and good angles - even textbooks deserve the best</li>
	<p1></p1>
</ul>
<h3>{{ message }}</h3>


<form action=" " method="get">

	
<input type="text" name="filename" /> 
    <input type="submit" name="uploadButton" class="upbtn" value="Submit" a href="{{ url_for('tryit') }}" />
	


</form><br>

<p>or</p>

<input type="file" id="myFile">
<button onclick="myFunction()">Submit</button>

<script>
function myFunction() {
    var x = document.getElementById("myFile");
    x.disabled = true;
}
</script>

{% endblock %}
